body{
    background-image: url("../images/train-background-1.jpg");
}

#addTrains{
    background:  #FFE7A1;
    border-radius: 1rem;
    color: #4D5FB3
}

#submit{
    margin-bottom: 1em;
}

#trainSchedule{
    background: #4D5FB3;
    border-radius: 1rem;
    color: #FFE7A1;
}