body{
    background-image: url("../images/train-background-1.jpg");
}

#addTrains{
    background: white;
    border-radius: 1rem;
}

#submit{
    margin-bottom: 1em;
}

#trainSchedule{
    background: lightgray;
    border-radius: 1rem;
}